{% extends 'base.html.twig' %}

{% block title %}New ResTournament{% endblock %}

{% block body %}
    <h1>Create new ResTournament</h1>

    {{ include('res_tournament/_form.html.twig') }}

    <a href="{{ path('app_res_tournament_index') }}">back to list</a>
{% endblock %}
