<div id="idDivWinner" >

    <label  style="width: 120px;height: 60px; ">

    </label>
    <label id="idLabelWinner" style="background-color: #93a1a1;width: 180px;height: 40px; border-radius: 30px;">

    </label>
</div>

<br><br><br><br><br><br><br><br>


<div id="idDivPlayers" >

    <label id="idLabelPlayer1" style="background-color: #93a1a1;width: 180px;height: 40px; border-radius: 30px;">

    </label>
    <label  style=" width: 55px;height: 40px;">

    </label>
    <label id="idLabelPlayer2" style="background-color: #93a1a1;width: 180px;height: 40px; border-radius: 30px;">

    </label>

</div>

<br><br>
<div id="idDivBtnPlay">
    <button style="position: center;" onclick="btnClickPlayActive(this)">
        Play
    </button>
</div>



<div id="idDivBtnEmail">
    <button style="position: center;" onclick="btnClickEmail(this)">
        Send Email
    </button>
</div>





