<div style="width: 100%; height: 250px;" id="divChatMennu" >

</div>
<br><br><br><br><br><br><br><br>
<input type="text" id="inputChat">
<button id="btnChat" onclick="clickBtnChat(this)">
    Send
</button>