<div id="divCamera" style="width: max-content; height: 150px;">
    <video autoplay id="video" style="height: max-content; height: max-content;"></video>
    <button onclick="btnVideo(this.data)" > Video </button>


</div>


