{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <h1>Create new Publicite</h1>
 {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    {{ include('team/_form.html.twig') }}

    <a href="{{ path('app_back_index') }}">back to list</a>
{% endblock %}
